@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
  background-color: #111;
  color: white;
  font-size: 1.6rem;
}

::selection {
  background-color: white;
  color: #111;
}

.fade-enter {
  opacity: 0;
  transform: translate(-5rem);
}

.fade-exit {
  display: none;
}

.fade-exit-active {
  opacity: 0;
}

@media (max-width: 90em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 30%;
  }
}
